h1 Upload a document

=form_tag documents_path, multipart: true do
  =text_area_tag :document_name, nil, placeholder:"Add name", class: "form-control"
  =file_field_tag "document"
  button.btn.btn-success Upload
